body {
  width: 1200px;
  margin: 0 auto;
  padding: 0;

  font-family: "Roboto", sans-serif;

  font-size: 16px;
  color: white;
  background-color: #849d8f;
  background-image: url("../img/background-icecream-light.png");
  background-position: top;
  background-repeat: no-repeat;
}

.logo {
  margin: 8px 26px;
}

a {
  text-decoration: none;
}

.site-navigation,
.list-navigation,
.list-products {
  list-style: none;
}

.site-navigation a,
.list-products a {
  color: white;
}

.site-navigation a {
  padding: 7px 15px;
  border-radius: 20px;
  text-decoration: underline;
  text-decoration-color: rgba(255, 255, 255, 0.4);
}

.hide-text {
  display: none;
}

.search-icon {
  width: 20px;
  height: 20px;
  background-color: rgba(255, 255, 255, 0.2);
  padding: 8px;
  border-radius: 50%;
  display: flex;
  margin: auto;
  margin-right: 10px;
  cursor: pointer;
}

.search-form {
  display: none;
  position: absolute;
  background-color: #f8f7f4;

  padding: 20px;
  border-radius: 8px;
  margin-top: 2px;
  left: 885px;
  z-index: 4;
}

.search-input {
  width: 310px;
  border: 1px solid #d3d3d2;
  border-radius: 6px;
  padding: 15px;
  font-size: 14px;
}

.search-icon:hover {
  background-color: white;
}

.search-icon:hover svg {
  filter: invert(1);
}

.search-icon:hover + .search-form {
  display: block;
}

.enter-icon {
  display: flex;
  margin: auto;
  align-items: center;
  background-color: rgba(255, 255, 255, 0.2);
  border-radius: 30px;
  padding: 8px 16px;
  margin-right: 10px;
  cursor: pointer;
}

.enter-icon span {
  font-size: 14px;
  font-weight: 500;
}

.enter-icon svg {
  filter: invert(1);
}

.enter-icon:hover,
.enter-icon:focus {
  background-color: white;
  color: black;
  border-radius: 30px;
  padding: 8px 16px;
}

.enter-icon:hover svg,
.enter-icon:focus svg {
  filter: invert(0);
}

.entrance {
  position: relative;
}

.entrance:focus .login,
.entrance:hover .login {
  display: block;
}

.login {
  display: none;

  position: absolute;
  background-color: #f8f7f4;
  width: 278px;

  border-radius: 8px;
  margin-top: 3px;
  left: -190px;
  z-index: 3;

  padding-bottom: 20px;
}

.sign-up {
  display: inline-block;
  line-height: 20px;
}

.sign-buttons {
  display: flex;
}

.login a {
  display: flex;
  flex-direction: column;
  margin-left: 20px;
  color: black;
  font-size: 13px;
  text-decoration: underline;
}

.login-form input[type="email"],
.login-form input[type="password"] {
  box-sizing: border-box;
  width: 240px;
  margin-left: 20px;
  padding: 13px 13px;
  color: rgba(255, 255, 255, 0.4);
  border: 1px solid #d3d3d2;
  border-radius: 5px;
}

.login .btn {
  margin-left: 20px;
}

.basket-icon {
  display: flex;
  margin: auto;
  background-color: rgba(255, 255, 255, 0.2);
  border-radius: 30px;
  padding: 8px 16px;
  cursor: pointer;
  font-size: 14px;
  font-weight: 500;
  align-items: center;
}

.basket-icon:hover,
.basket-icon:focus {
  background-color: white;
  color: black;

  border-radius: 30px;
  padding: 8px 16px;
}

.basket-icon:focus svg,
.basket-icon:hover svg {
  filter: invert(1);
}

.catalog-sub-menu {
  display: none;
  background-color: #f8f7f4;
  min-width: 146px;
  list-style: none;
  padding: 0;
  margin-top: 10px;
  border-radius: 6px;
}

.catalog-sub-menu a {
  color: #323232;
  font-size: 14px;
  text-decoration: none;
  display: block;
  line-height: 20px;
}

.site-navigation li:hover ul {
  display: block;
  position: absolute;
  z-index: 2;
}

.site-navigation > li:hover > a {
  background-color: #f8f7f4;
  color: #323232;
}

.site-navigation {
  align-items: center;
}

.catalog-sub-menu li:hover {
  background-color: #fbded7;
}

.catalog-sub-menu li:first-child:hover {
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
}

.catalog-sub-menu li:last-child:hover {
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;
}

hr {
  margin: 0 auto;
  width: calc(100% - 18px);
}

/* Главная */
main {
  position: relative;
}

.work-time-info {
  position: absolute;
  text-align: right;
  right: 0;
  margin-top: -24px;
}

.work-time {
  font-size: 14px;
  margin-bottom: 10px;
}

.phone {
  font-size: 22px;
  font-weight: bold;
  margin-top: 0;
}

.ice-cream-bg {
  position: relative;
  height: 580px;
  background-image: url("../img/ice_cream.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  text-align: center;
}

.ice-cream-bg article {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
  height: inherit;
}

.ice-cream-bg h3 {
  font-size: 60px;
  width: 670px;
  text-align: center;
  margin-top: auto;
  margin-bottom: 39px;
}

.ice-cream-bg .btn {
  margin-bottom: 38px;
  font-size: 32px;
  border: 0;
  border-radius: 35px;
  padding: 19px 40px;
}

.ice-cream-btns {
  position: absolute;
  bottom: 60px;
  margin-left: 14px;
}

.ice-cream-btns button {
  width: 22px;
  height: 22px;
  border-radius: 50%;
  margin-right: 4px;
  border: 3px solid white;
  background-color: Transparent;
  cursor: pointer;
}

.ice-cream-btns :hover {
  background-color: rgba(255, 255, 255, 0.4);
}

.ice-cream-btns :focus {
  background-color: white;
}

.first-bg-color {
  background-color: #849d8f;
}
.second-bg-color {
  background-color: #8996a6;
}
.third-bg-color {
  background-color: #9d8b84;
}
/* Предложения */

.offers {
  display: flex;
}

.offers article {
  display: flex;
  flex-direction: column;
  width: 50%;

  margin: 0 13px;
  padding: 20px;
  border-radius: 16px;

  background-repeat: no-repeat;
  background-size: cover;
}

.offers h3 {
  font-size: 35px;
  margin: 0;
}

.offers p {
  font-size: 18px;
  margin-bottom: 48px;
}

.raspberry {
  background-image: url("../img/raspberry.jpg");
}

.chocolade {
  background-image: url("../img/chocolade.jpg");
}

.btn {
  width: fit-content;
  background: linear-gradient(0deg, #e84c36, #f26743);
  padding: 12px 20px;
  border-radius: 22px;
  border: 0;
  color: white;
  font-weight: bold;
  font-size: 18px;
  cursor: pointer;
}

.btn-offer {
  margin-left: auto;
}

/* Список мороженого */

.list-products img {
  border-radius: 50%;
}

.list-products li {
  position: relative;
  width: 270px;
}

.product-item {
  position: relative;
  text-align: center;
}

.product-item p {
  position: absolute;
  margin: 0;
  left: 0;
  bottom: 10px;
  font-size: 45px;
  font-weight: bold;
}

.product-item p span {
  font-size: 35px;
}

.product-item h3 span {
  font-size: 16px;
  font-weight: 400;
  text-decoration: underline;
  text-decoration-color: rgba(255, 255, 255, 0.4);
  text-align: center;
}

.product-hit {
  position: absolute;
  left: 15;
  top: 15;
  z-index: 1;
}

/* Магазин Глейси */

.waffle {
  padding: 30px 22px;
  background-image: url("../img/waffel.jpg");
  border-radius: 22px;
  background-size: cover;
  color: #323232;
}

.waffle ul {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 12px;
  padding: 0;
  list-style: none;
}
/* calc */
.waffle ul li {
  position: relative;
  width: calc(100% - 59px);
  padding-left: 59px;
}
/* ::before */
.ice-cream::before {
  content: "";
  position: absolute;
  width: 49px;
  height: 49px;
  left: 0;
  background-image: url("../img/ice-cream.svg");
  /* background-position: center;
  background-size: 100%; */
}

.leather::before {
  content: "";
  position: absolute;
  width: 49px;
  height: 49px;
  left: 0;
  background-image: url("../img/eco.svg");
}

.cow::before {
  content: "";
  position: absolute;
  width: 49px;
  height: 49px;
  left: 0;
  background-image: url("../img/cow.svg");
}

.thermometer::before {
  content: "";
  position: absolute;
  width: 49px;
  height: 49px;
  left: 0;
  background-image: url("../img/thermometer.svg");
}

/* Новости */

.news {
  width: 560px;
  height: 220px;
  margin-top: 40px;

  background-image: url("../img/strawberry.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 22px;

  color: #323232;
}

.news h3 {
  font-size: 16px;
  font-weight: 400;
  padding: 28px 20px 0;
}

.news-post {
  font-size: 24px;
  font-weight: bold;
  text-decoration: underline;
  padding: 0px 20px;
  color: #5a5a5a;
  width: 50%;
  display: block;
}

.send-box {
  width: 560px;
  height: 220px;
  margin-top: 40px;
  margin-left: 22px;

  background-color: #f8f7f4;
  color: #5a5a5a;
  border-radius: 22px;
  /* border-image: url("../img/bg-post.svg") 30 round round; */
}
.send-box form {
  display: flex;
  padding: 0 28px;
}

.send-box p {
  margin: 0;
  padding: 39px 28px;
}

.send-email {
  flex-grow: 1;

  font-size: 16px;
  padding: 15px;
  border: 1px solid #d3d3d2;
  border-radius: 5px;
}

.send-box .btn {
  margin-left: 11px;
}

/* Карта */

.map {
  display: flex;
  position: relative;
  width: 1200px;
  height: 430px;
  margin-top: 40px;
  background-image: url("../img/map.jpg");
  background-repeat: no-repeat;
}

.adress {
  display: flex;
  flex-direction: column;
  max-width: 302px;
  margin-left: auto;
  margin-right: 27px;
  margin-top: auto;
  margin-bottom: auto;
  background-color: #fefefe;
  color: #4d4d4d;
  border-radius: 16px;
  padding: 26px;
}

.ice-cream-pin {
  position: absolute;
  left: 264px;
  top: 138px;
}

.map .btn {
  margin-top: 28px;
  margin-left: auto;
  margin-right: auto;
}

.adress-info {
  font-size: 14px;
}

.adress-contact {
  font-size: 18px;
  font-weight: bold;
  margin: 12px 0;
}

/* Каталог */

.main-menu {
  display: flex;
  list-style: none;
  color: white;
}

.pagination {
  display: flex;
}

.pagination a {
  list-style: none;
  color: white;
}

.pagination a:hover {
  padding: 7px 13px;
  color: white;
  background-color: rgba(255, 255, 255, 0.2);
  border-radius: 50%;
}

.pagination li {
  margin-right: 22px;
}

.pagination ul {
  display: flex;
  padding: 5px;
  border-radius: 50%;
  list-style: none;
  margin-left: auto;
}

main h2 {
  font-size: 35px;
  margin-left: 30px;
}

.main-menu a {
  font-size: 14px;
  color: white;

  text-decoration: underline;
  text-decoration-color: rgba(255, 255, 255, 0.4);
}

/* Select */

.select {
  position: relative;
}

.select p {
  font-size: 14px;
  margin-left: 15px;
  margin-bottom: 7px;
}

.select:after {
  content: "";
  display: block;

  pointer-events: none;

  border-style: solid;
  border-width: 5px 4px 0 4px;
  border-color: white transparent transparent transparent;

  position: absolute;
  top: 42px;
  left: 170px;
}

.select select {
  display: block;
  width: 192px;

  padding: 10px 14px;
  border-radius: 22px;

  background-color: rgba(255, 255, 255, 0.2);
  color: white;
  font-size: 16px;
  border: none;

  -webkit-appearance: none;
  appearance: none;
}

.select select:hover {
  color: black;
}

/* Range */

.range {
  border: 0 none;
}

.range label {
  font-size: 14px;

  margin-bottom: 7px;
}

/* Radio Button */
.fat {
  font-size: 14px;
  margin-left: 15px;
  margin-bottom: 7px;
}

.radio-button {
  text-align: center;
  border: 0 none;
  background-color: rgba(255, 255, 255, 0.2);
  border-radius: 22px;
  padding: 8px;
  width: 416px;
}

.form_radio {
  display: inline-flex;

  margin-left: 15px;
}
.form_radio input[type="radio"] {
  display: none;
}
.form_radio label {
  display: inline-block;
  cursor: pointer;
  position: relative;
  padding-left: 25px;
  margin-right: 0;
  line-height: 18px;
  user-select: none;
}
.form_radio label:before {
  content: "";
  display: inline-block;
  width: 28px;
  height: 28px;
  position: absolute;
  left: -10px;
  bottom: -5px;
  background: url(../img/radio-off.svg) 0 0 no-repeat;
}

/* Checked */
.form_radio input[type="radio"]:checked + label:before {
  background: url(../img/radio-on.svg) 0 0 no-repeat;
}

/* Hover */
.form_radio label:hover:before {
  filter: brightness(120%);
}

/* Disabled */
.form_radio input[type="radio"]:disabled + label:before {
  filter: grayscale(100%);
}

/* Checkbox Button */
.checkbox-button {
  text-align: center;
  border: 0 none;
  background-color: rgba(255, 255, 255, 0.2);
  border-radius: 22px;
  width: 702px;
  padding: 8px;
}

.form-checkbox {
  display: inline-flex;
  margin-left: 10px;
}
.form-checkbox input[type="checkbox"] {
  display: none;
}
.form-checkbox label {
  display: inline-block;
  cursor: pointer;
  position: relative;
  padding-left: 25px;
  margin-right: 0;
  line-height: 18px;
  user-select: none;
}
.form-checkbox label:before {
  content: "";
  display: inline-block;
  width: 27px;
  height: 27px;
  position: absolute;
  left: -10px;
  bottom: -5px;
  background: url(../img/checkbox-off.svg) 0 0 no-repeat;
}

/* Checked */
.form-checkbox input[type="checkbox"]:checked + label:before {
  background: url(../img/checkbox-on.svg) 0 0 no-repeat;
}

/* Hover */
.form-checkbox label:hover:before {
  filter: brightness(120%);
}

/* Disabled */
.form-checkbox input[type="checkbox"]:disabled + label:before {
  filter: grayscale(100%);
}

.button-3 {
  width: 144px;
  height: 36px;
  border-radius: 22px;
  border: 2px solid white;
  background-color: rgba(255, 255, 255, 0.2);
  font-size: 16px;
  color: white;
  cursor: pointer;
}

.button-3:hover {
  width: 144px;
  height: 36px;
  border-radius: 22px;
  background-color: #fbfcfb;
  font-size: 16px;
  color: black;
  cursor: pointer;
}

.button-3:focus {
  width: 144px;
  height: 36px;
  border-radius: 22px;
  border: 0px;
  background-color: #eaeaea;
  font-size: 16px;
  color: black;
  cursor: pointer;
  box-shadow: inset 1px 1px 1px;
}

/* Footer */

footer {
  display: flex;
  justify-content: space-between;
}

footer a {
  color: white;
}

footer ul {
  list-style: none;
  padding: 0;
}

.social-links {
  display: flex;
  margin-left: 28px;
}

.footer-links {
  display: flex;
}

.social-links img {
  opacity: 0.8;
  border: 3px solid #c2cec7;
  border-radius: 50%;
  margin-right: 10px;
}

.footer-links {
  display: grid;
  grid-template-columns: auto auto;
  position: relative;
  row-gap: 0;
  column-gap: 26px;
  margin-top: 20px;
  font-size: 13px;
  text-decoration: underline;
}

.footer-academy {
  display: flex;
  flex-direction: column;
  font-size: 13px;
  min-width: 190px;
  margin-top: 18px;
  margin-right: 27px;
}

.academy-link {
  display: flex;
}

.academy-link a {
  text-decoration: underline;
}

.heart a {
  font-weight: bold;
}

.heart::before {
  content: "";
  position: absolute;
  width: 15px;
  height: 13px;
  left: -20px;
  background-image: url("../img/heart.svg");
}

nav {
  display: flex;
}

.site-navigation,
.list-navigation,
.list-products {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 0;
}

.list-products li {
  position: relative;
}

.product {
  position: absolute;
  padding: 15px;
}

.list-products li:hover .product {
  background-color: rgba(255, 255, 255, 0.2);
  border-radius: 8px;
}

.list-products li:hover .btn-fastview {
  display: flex;
}

.list-navigation {
  margin-left: auto;
}

.btn-fastview {
  display: none;
  margin: auto;
}

.basket {
  display: block;
}

.news-send {
  display: flex;
}

.news-send div {
  width: 50%;
}

/* Всплывающая форма */

body .modal {
  display: block;
}

.modal-answer fieldset {
  border: 0 none;
}

.modal-answer {
  display: none;
  position: fixed;

  width: 478px;

  background-color: #f8f7f4;
  color: black;
  font-weight: 400px;
  border-radius: 12px;

  top: 340px;
  left: 50%;
  padding: 0;
  margin-left: -239px;
  z-index: 4;
}

.modal-answer h2 {
  font-size: 24px;
  font-weight: 400;
  margin-top: 20px;
  margin-left: 38px;
}

.modal-close {
  position: absolute;
  top: 15px;
  right: 15px;

  width: 18px;
  height: 18px;

  background-color: transparent;
  border: 0;

  cursor: pointer;
}

.modal-close::before,
.modal-close::after {
  content: "";

  position: absolute;

  width: 19px;
  height: 3px;

  top: 6px;
  left: -1px;

  background-color: black;
}

.modal-close::before {
  transform: rotate(45deg);
}

.modal-close::after {
  transform: rotate(-45deg);
}

.modal-answer input[type="text"],
.modal-answer input[type="email"] {
  padding: 13px 13px;
  color: rgba(255, 255, 255, 0.4);
  border: 1px solid #d3d3d2;
  border-radius: 5px;
  font-size: 16px;
  width: 264px;
  margin-left: 24px;
  margin-bottom: 20px;
}

.modal-answer textarea {
  width: calc(100% - 78px);
  height: 154px;
  margin-left: 24px;
  margin-right: 24px;
  color: rgba(255, 255, 255, 0.4);
  border: 1px solid #d3d3d2;
  border-radius: 5px;
  resize: none;
  font-size: 16px;
  padding: 13px;
}

.modal-answer .btn {
  display: flex;
  margin-left: auto;
  margin-right: 20px;
  margin-bottom: 22px;
  margin-top: 22px;
}

.modal + .overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.3);
}
